{{template "partials/header" .}}
<head>
  <title>Sign Up Form</title>
  <!--<link rel="stylesheet" type="text/css" href="/static/css/styles.css">-->
</head>
<body>
<h2>Sign Up</h2>
<div class="signup">
  <form id="signup" method="post">
    <label><b>Nickname</b></label>
    <label for="nickname"></label><input type="text" name="nickname" id="nickname" placeholder="Nickname" required>
    <br><br>
    <label><b>Password</b></label>
    <label for="password"></label><input type="password" name="password" id="password" placeholder="Password" required>
    <br><br>
    <input type="submit" name="submit" value="Sign Up">
  </form>
</div>
</body>
{{template "partials/footer" .}}
