body {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: 'Arial', sans-serif;
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;
}

h2 {
    margin-bottom: 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
